.carousel {
    cursor: pointer;

    .carouselItem {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .carouselImg {
      width: 100%;
      padding-bottom: 5px;
  
    }
  }