.carousel {
    padding-top: 3rem;
    cursor: pointer;
    background-color: rgba(214, 211, 199, 0.894);

    .carouselItem {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .carouselImg {
      width: 100%;
      padding-bottom: 5px;
  
    }
  }