.button {
    border: none;
    background-color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    text-decoration: underline;
    transition: all .2s;

    &:hover {
        transform: scale(1.05)
    }
}