html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.siderNav {
  height: 100vh;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-right: 1px solid rgba(202, 202, 202, 0.389);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(4, 4, 4, 0.838);
  position: absolute;
  left: 200px;
  z-index: 300;
  animation: fadeIn .3s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.mainContainer {
  width: 100vw;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(214, 211, 199, 1);
  position: fixed;
  width: 100vw;
  border-bottom: rgba(4, 4, 4, 0.25);
  z-index: 100;

  .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    left: 40%;
    // margin-top: 1rem;
    margin-left: 80px;

    @media screen and (max-width:768px) {
      left: 15px;
      width: 100px !important;
    }
  }
}

.headerMobileMenuToggle {
  height: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  border: none;
  background-color: inherit;
  color: #fff;

  &:hover, &:focus {
    border: none !important;
    background-color: inherit;
    color: #fff;
  }
}

.headerItem {
  display: flex;
  height: 100%;
  align-items: center;
  border: none !important;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  z-index: 2;

  &:hover {
    text-decoration: underline;
  }

  & span {
    margin-left: .7rem;
  }
}

.account {
  margin-left: 1rem;
}