html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.siderNav {
  height: 100vh;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-right: 1px solid rgba(202, 202, 202, 0.389);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(4, 4, 4, 0.838);
  position: absolute;
  left: 200px;
  z-index:1000;
  animation: fadeIn .3s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.mainContainer{
  width: 100vw;
}
.header {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(to right, rgba(205, 197, 171, 0.894) 0%, rgba(137, 129, 108, 0.894)100%);
  position: relative;

  .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: 1rem;
    margin-left: 200px;
    cursor: pointer;
  }
  .headerItem {
    display: flex;
    height: 100%;
    align-items: center;
    border: none !important;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 2;

    &:hover{
      text-decoration: underline;
    }

    & span {
      margin-left: 1rem;
    }
  }
  .account {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
