.container {
  position: relative;
  padding-left: 80px;
}

.main {
  .carouselItem {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .carouselImg {
    width: 100%;

  }
}


